DirectoryIndex index.php
Options -Indexes
RewriteEngine on
RewriteRule ^(.env) - [F,L,NC]
RewriteRule ^(.env.*) - [F,L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
RewriteEngine on
RewriteCond %{HTTP} off
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [L,R]