.color-review {
  height: 30px;
}

.review-color-block {
  padding: 8px;
  display: block;
  margin: 0 auto;
  width: 70px;
  text-align: center;
}


#color_list_datatable {
  .hex-review {
    input {
      vertical-align: middle;
    }
  }
}
