.msg-from-server.msg-top {
	/*background-color: #eee;*/
	width: 95%;
	position: absolute;
	z-index: 1;
	left: 0; right: 0; top: 0;
	margin: auto;
}

.fancybox-content {
	height: 600px !important;
}

table {
	color: #000;
}
