.seo-zone {
  p {
    margin: 0;
  }
  .page-title-seo {
    color: #1a0dab;
    font-size: 18px;
    font-weight: bold;
  }
  .page-url-seo {
    color: #006621;
  }
  .page-seo-slug {
    border: 0;
    background-color: transparent;
    color: #006621;
  }
  .page-description-seo {
    color: #545454;
  }

}
